<div class="col-lg-6 col-lg-offset-3" ng-controller="DonationsCtrl">

  <div class="box box-info bg-white">
                <div class="box-header with-border">
                  <h3 class="box-title text-center">Donate Now!</h3>
                  <hello-world/>
                </div><!-- /.box-header -->

                  <div class="alert alert-danger animate-if" ng-if="response.status=='error'">
                    <strong>Whoops!</strong> There were some problems with your input.<br><br>
                    <ul>

                        <li ng-repeat="error in response.message">{{ error }}</li>
                    </ul>
                  </div>
                    <div class="alert alert-success text-bold animate-if" ng-if="response.status=='success'">
                        {{ response.message }}
                    </div>
                <!-- form start -->
                <form ng-submit="donate()" class="form-horizontal">
                  <input type="hidden" name="_token" value="{{ csrf_token() }}">
                  <div class="box-body">
                    <div class="form-group">
                      <div class="col-sm-12">
                        <input type="number" class="form-control input-lg" ng-model='donate_amount' name='amount' placeholder="Amount" ng-model-options="{updateOn: 'blur'}" autofocus="">
                      </div>
                      {{donate_amount}}
                    </div>
                    </div><!-- /.box-body -->
                  <div class="box-footer">
                    <div class="progress progress-striped active animate-if" ng-show="submitting">
                      <div class="progress-bar" style="width: 100%"></div>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right btn-md animate-if" ng-hide="submitting"><span class='fa fa-spinner'></span> Donate</button>

                  </div><!-- /.box-footer -->
                </form>
              </div>
</div>
